<p><strong>Are you sure you wish to apply this edit to the highlighted area?</strong></p>
<div class='btn-row'>
  <a href='#' class='btn btn-success'>Yes</a>
  <a href='#' class='btn btn-danger'>No</a>
</div>
