<h1>Edit island</h1>

<form id="edit-island" name="island">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Island" />
  </div>

</form>

<a href="#/index">Back</a>
