<div id='tools' class='well'>
  <a href="#" id='validate-btn' class="validate btn btn-success"><i class="icon-ok icon-white"></i><br/>Validate</a>
  <div class="btn-group">
    <a href="#" id='add-area-btn' class="add-area btn btn-primary"><i class="icon-plus icon-white"></i><br/>Add</a>
    <a href="#" id='delete-area-btn' class="delete-area btn btn-danger"><i class="icon-trash icon-white"></i><br/>Delete</a>
  </div>
</div>
<select class="knowledge">
  <option value="">Please select evidence type</option>
  <option value="imagery">Underlying imagery in browser</option>
  <option value="local data">Local data</option>
  <option value="local knowledge">Local knowledge</option>
</select>
<div class="actions">
  <input type="submit" id="submit-polygon" value="Update Island">
  <input type="submit" id="erase-polygon" value="Clear">
</div>
<div class="reallocate">
  <a href="#" class="btn">Reallocate</a>
  <p>Assign to:</p>
  <p>Existing</p>
  <input id="existing_island_id" name="existing_island_id" type="hidden">
  <input id="assign-to" type="text">
  <input type="submit" value="Reallocate">
  <p>New site</p>
  <form id="new-island" action="/islands" method="post">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="field">
      <label for="local-name">Local name</label>
      <input type="text" name="name_local" id="name_local">
    </div>
    <div class="field">
      <label for="iso_3">Country</label>
      <input type="text" name="iso_3" id="iso_3">
    </div>
    <div class="field full-width">
      <input type="text" name="source" id="source" value="$SOURCE">
    </div>
    <div class="actions">
      <input type="submit" class="primary" value="New Island">
      <input type="submit" value="Clear">
    </div>
  </form>
</div>