<div id='tools' class='well'>
  <a href="#" class="validate btn btn-success"><i class="icon-ok icon-white"></i><br/>Validate</a>
  <div class="btn-group">
    <a href="#" class="add-area btn btn-primary"><i class="icon-plus icon-white"></i><br/>Add</a>
    <a href="#" class="delete-area btn btn-danger"><i class="icon-trash icon-white"></i><br/>Delete</a>
  </div>
</div>
<select class="knowledge">
  <option value="">Please select evidence type</option>
  <option value="imagery">Underlying imagery in browser</option>
  <option value="local data">Local data</option>
  <option value="local knowledge">Local knowledge</option>
</select>
<div class="actions">
  <input type="submit" class="submit-polygon" value="Update Island">
  <input type="submit" class="erase-polygon" value="Clear">
</div>
