<div id='tools' class='well'>
  <a href="#" id='validate-btn' class="validate btn btn-success"><i class="icon-ok icon-white"></i><br/>Validate</a>
  <div class="btn-group">
    <a href="#" id='add-area-btn' class="add-area btn btn-primary"><i class="icon-plus icon-white"></i><br/>Add</a>
    <a href="#" id='delete-area-btn' class="delete-area btn btn-danger"><i class="icon-trash icon-white"></i><br/>Delete</a>
  </div>
</div>
<div id='edit-dialog'>
  <div class="control-group">
    <select id='edit-knowledge' class="knowledge">
      <option value="">Please select evidence type</option>
      <option value="imagery">Underlying imagery in browser</option>
      <option value="local data">Local data</option>
      <option value="local knowledge">Local knowledge</option>
    </select>
  </div>
  <div class="control-group actions">
    <input type="submit" id="submit-polygon" value="Update Island" class='primary disabled'>
    <input type="submit" value="Clear" class='erase-polygon disabled'>
  </div>
</div>
<div id="alert-message" class='alert'></div>
