<div id='header-strip'>
  <h2>
    <%= name %>
    <span><span class='up'>ID</span> <%= id %></span>
  </h2>
  <h4><%= iso_3 %></h4>
</div>
<div id="tabbed-panel">
  <ul id="tabs">
    <li class="active">
      <img alt="Attributes-icon" src="/assets/attributes-icon.png">
      <span>Attributes</span>
    </li>
    <li>
      <img alt="Geom-icon" src="/assets/geom-icon.png">
      <span>Geometry</span>
    </li>
  </ul>
  <div id="tabbed-content">
  </div>
</div>
