<div id='header-strip'>
  <h2>
    <%= (id != null ) ? name : "New Island" %>
  </h2>
  <span><span class='up'>ID</span> <%= id %></span>
  <h4><%= iso_3 %></h4>

  <a class="btn btn-danger delete">
    <span class='enabled'>Delete</span>
  </a>
</div>
<div id="tabbed-panel">
  <ul id="tabs">
    <li id="attributes-tab" <% if (activeTab == 'attributes') {%> class="active" <%} %>>
      <img alt="Attributes-icon" src="/assets/attributes-icon.png">
      <span>Attributes</span>
    </li>
    <li id="geometry-tab" <% if (activeTab == 'geometry') {%> class="active" <%} %>>
      <img alt="Geom-icon" src="/assets/geom-icon.png">
      <span>Geometry</span>
    </li>
  </ul>
  <div id="tabbed-content">
  </div>
</div>
