<div id='header-strip'>
  <h2>
    No island selected
  </h2>
  <span><span class='up'>ID</span> ---</span>
  <a class="btn btn-warning" href="/#new">
    <span class='enabled'>Create new island</span>
  </a>
</div>
<div id='tabbed-panel'>
  <ul id='tabs'>
    <li class='active'>
      <img alt="Attributes-icon" src="/assets/attributes-icon.png">
      <span>Attributes</span>
    </li>
    <li>
      <img alt="Geom-icon" src="/assets/geom-icon.png">
      <span>Geometry</span>
    </li>
  </ul>
  <div id='tabbed-content'>
    <div id='island-attributes'>
      <div class='field'>
        <label for="name"> Name</label>
        <input type="text" name="name" id="name" disabled>
      </div>
      <div class='field'>
        <label for="local-name"> Local name</label>
        <input type="text" name="local-name" id="local-name" disabled>
      </div>
      <div class='field'>
        <label for="country"> Country</label>
        <input type="text" name="country" id="country" disabled>
      </div>

      <div class='field full-width'>
        <select id='edit-knowledge' class="knowledge" disabled>
          <option value="">Please select evidence type</option>
          <option value="imagery">Underlying imagery in browser</option>
          <option value="local data">Local data</option>
          <option value="local knowledge">Local knowledge</option>
        </select>
      </div>

      <div class="actions">
        <input type="submit" class='primary' value="Update Island" disabled>
      </div>
    </div>
  </div>
</div>
