<div id='header-strip'>
  <h2>
    No island selected
  </h2>
  <span><span class='up'>ID</span> ---</span>
</div>
<div id='tabbed-panel'>
  <ul id='tabs'>
    <li class='active'>
      <img alt="Attributes-icon" src="/assets/attributes-icon.png">
      <span>Attributes</span>
    </li>
    <li>
      <img alt="Geom-icon" src="/assets/geom-icon.png">
      <span>Geometry</span>
    </li>
  </ul>
  <div id='tabbed-content'>
    <div id='island-attributes'>
      <div class='field'>
        <label for="name"> Name</label>
        <input type="text" name="name" id="name" value="$NAME" >
      </div>
      <div class='field'>
        <label for="local-name"> Local name</label>
        <input type="text" name="local-name" id="local-name" value="$LOCAL-NAME" >
      </div>

      <div class='field full-width'>
        <input type="text" name="local-name" id="local-name" value="$SOURCE" >
      </div>

      <div class="actions">
        <input type="submit" class='primary' value="Update Island" />
        <input type="submit" value="Clear" />
      </div>
    </div>
  </div>
</div>
