<div class="field">
  <label for="name"> Name</label>
  <span><%= name %></span>
</div>
<div class="field">
  <label for="local-name"> Local name</label>
  <span><%= name_local %></span>
</div>
<div class="field">
  <label for="iso_3">Country</label>
  <span><%= iso_3 %></span>
</div>

<div class="actions">
  <input id="edit-attributes" type="submit" class="primary" value="Edit Attributes">
</div>
