<div id="island-attributes">
  <div class="field">
    <label for="name"> Name</label>
    <span><%= name %></span>
  </div>
  <div class="field">
    <label for="local-name"> Local name</label>
    <span>$LOCAL-NAME</span>
  </div>

  <div class="actions">
    <input type="submit" class="primary" value="Edit Attributes">
  </div>
</div>
