<h1>Edit layer</h1>

<form id="edit-layer" name="layer">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Layer" />
  </div>

</form>

<a href="#/index">Back</a>