$('#submitModal .modal-footer .close-modal').removeClass('disabled');
$('#submitModal .modal-header .close').removeClass('hide');

$('#submitModal').delegate('[data-dismiss="modal"]', 'click.dismiss.modal', window.VALIDATION.submitModalEvents['submitModal']);
$('.modal-backdrop').click(window.VALIDATION.submitModalEvents['modal-backdrop']);
$(document).on('keyup.dismiss.modal', window.VALIDATION.submitModalEvents['document']);

// Update layers
if(window.VALIDATION.mangroves_validated.isVisible()) {
  window.VALIDATION.mangroves_validated.update(window.VALIDATION.mangroves_validated_params.query);
}

if(window.VALIDATION.corals_validated.isVisible()) {
  window.VALIDATION.corals_validated.update(window.VALIDATION.corals_validated_params.query);
}


<% if @layer.errors.any? %>
  $('#submitModal .submit-data').button('reset');
  $('#submitModal .modal-body').removeClass('alert-success').addClass('alert-error').find('.message').html('There was some error while trying to submit the data.')

  var errors = $('<ul></ul>');
  <% @layer.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>
  $('#submitModal .modal-body .message').append(errors);
<% else %>
  $('#submitModal .modal-body').removeClass('alert-error').addClass('alert-success').find('.message').html('Successfully submitted.');
  $('#submitModal .modal-footer .submit-data').val('Submission completed')

  $('#main_menu .submit-polygon, #main_menu .erase-polygon').addClass('disabled');
  window.VALIDATION.mapPolygon.getPath().clear();
<% end %>
