<div id="map_canvas" style="width:100%; height:100%"></div>

<div id="main_menu">
  <div class="actions">
    <div class="btn-group">
      <a href="#" class="btn btn-warning btn-large dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Spotted error? <span class="caret icon-white"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-plus"></i> Add new area</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete area</a></li>
      </ul>
    </div>
    <a href="#" class="validate btn btn-large" data-toggle="button"><i class="icon-ok"></i> Validate existing</a>
  </div>
  <a href="#" class="zoom-in btn btn-large disabled">Zoom in to region to start editing</a>
</div>

<!-- Modal -->
<div class="modal" id="landingModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Mangrove and Coral Validation Tool</h3>
  </div>
  <div class="modal-body">
    <p>We're testing this tool to help improve the quality of the data.</p>
    <p>Choose which data set you're interested in, find the area you know, and start clicking and editing.</p>
    <p>Any problems, email us <%= mail_to "no-problems@unep-wcmc.org" %></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Get started</a>
  </div>
</div>
