<div id="map_canvas" style="width:100%; height:100%"></div>

<div id="map_menu">
  <div class="btn-group" data-toggle="buttons-radio">
    <button class="btn active">Mangroves</button>
    <button class="btn">Corals</button>
  </div>
  <a href="#" class="zoom-in btn"><i class="icon-plus"></i></a>
  <a href="#" class="zoom-out btn"><i class="icon-minus"></i></a>
  <a href="#" class="hide-data-layers btn" data-toggle="button">Hide data layers</a>
</div>

<div id="main_menu">
  <div class="actions hide">
    <div class="btn-group">
      <a href="#" class="spotted-error btn btn-info"><i class="icon-flag icon-white"></i> Spotted error?</a>
      <a href="#" class="spotted-error-toggle btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" class="add-area"><i class="icon-plus"></i> Add new area</a></li>
        <li><a href="#" class="delete-area"><i class="icon-trash"></i> Delete area</a></li>
      </ul>
    </div>
    <a href="#" class="validate btn btn-primary" data-toggle="button"><i class="icon-ok icon-white"></i> Validate existing</a>
  </div>
  <a href="#" class="zoom btn disabled">Zoom in to region to start editing</a>
</div>

<!-- Modals -->
<div class="modal" id="landingModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Mangrove and Coral Validation Tool</h3>
  </div>
  <div class="modal-body">
    <p>We're testing this tool to help improve the quality of the data.</p>
    <p>Choose which data set you're interested in, find the area you know, and start clicking and editing.</p>
    <p>Any problems, email us <%= mail_to "no-problems@unep-wcmc.org" %></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Get started</a>
  </div>
</div>

<div class="modal hide" id="helpModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Mangrove and Coral Validation Tool</h3>
  </div>
  <div class="modal-body">
    <p>Spotted an error? Find here some information about this...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Continue</a>
  </div>
</div>
