<div class="page-header">
  <%= link_to layers_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_layer_path(@layer), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing layers</h1>
</div>

<dl>
  <dt>Polygon:</dt>
  <dd><%= @layer.polygon %></dd>

</dl>
