/*
 *= require bootstrap-generators
 */

/* (work-around) Bootstrap distorts some Google Maps Controls and Overlays: https://github.com/twitter/bootstrap/issues/1552 */
img {
  max-width: none;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.modal {
  .logos {
    img + img {
      margin-left: 6px;
    }
  }

  form {
    margin: 0;

    .message {
      margin-bottom: 20px;
    }

    .input-xxlarge {
      width: 520px;
    }

    .control-group.hidden {
      display:none;
    }
  }
}

#landingModal {
  overflow: hidden;
  .modal-body {
    max-height: 360px;
    overflow: auto;
  }
}

#map_canvas {
  height: 100%
}

#main_menu {
  .zoom, .select-layer {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
  }

  .actions {
    position: absolute;
    top: 5px;
    right: 5px;

    & > * {
      float: right;
    }

    & > * + * {
      margin-right: 5px;
    }

    ul.dropdown-menu {
      right: 0;
      left: initial;
      min-width: 183px;
    }

    .submit-or-erase {
      position: absolute;
      top: 33px;
      right: -5px;

      .btn {
        width: 70px;
      }
    }
  }

  .validate, .edit-area {
    i {
      float: left;
    }
    .caret {
      float: right;
    }
  }

  .validate {
    width: 160px;
  }

  .edit-area {
    width: 165px;
  }
}

#map_menu {
  position: absolute;
  top: 5px;
  left: 5px;

  .btn-group {
    margin-bottom: 5px;
  }
  .btn-group + .btn-group {
    margin-left: 0
  }
}

#logo {
  position: absolute;
  background: image-url('unep_wcmc_logo.png');
  bottom: 22px;
  right: 125px;
  width: 100px;
  height: 51px;
}

.btn-warning .caret {
  border-top-color: white;
  opacity: 0.75;
  filter: alpha(opacity=75);
}


