/*
 *= require jquery.fancybox
 *= require bootstrap-generators
 */

/* (work-around) Bootstrap distorts some Google Maps Controls and Overlays: https://github.com/twitter/bootstrap/issues/1552 */
img {
  max-width: none;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.modal {
  .logos {
    img + img {
      margin-left: 6px;
    }
  }

  form {
    margin: 0;

    .message {
      margin-bottom: 20px;
    }

    .input-xxlarge {
      width: 520px;
    }

    .control-group.hidden {
      display:none;
    }
  }
}

#landingModal {
  overflow: hidden;
  .modal-body {
    max-height: 360px;
    overflow: auto;
    ol.letters {
      list-style-type: lower-alpha;
    }
    ol.roman {
      list-style-type: lower-roman;
    }
  }
}

#map_canvas {
  height: 100%
}

#main_menu {
  .zoom, .select-layer {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
  }

  .actions {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 7px;

    #tools {
      overflow:hidden;

      .validate {
        margin-right: 5px;
        float:left; 
      }

      div.btn-group {
        float:left;
      }

      .btn {
        width: 60px;
      }
    }

    .submit-or-erase {
      margin-top: 5px;
      padding-top: 5px;
      padding-left: 96px;
      border-top: 1px solid #DDD;
      overflow:hidden

      .btn {
        width: 70px;
      }
    }
  }

  .validate, .edit-area {
    .caret {
      float: right;
    }
  }

  .validate {
  }

  .edit-area {
    width: 165px;
  }
}

#map_menu {
  position: absolute;
  top: 5px;
  left: 5px;

  .control-row {
    margin-top: 6px;
    clear: both;
    float: left;
    width: 100%;
  }
  .control-row:first-child {
    margin-top: 0;
  }
  .control-row.break {
    padding-top: 6px;
    border-top: 1px solid #DDD;
  }

  #layers-box {
    padding: 7px;
    margin-bottom: 5px;
    float: left;

    .layer-switcher {
      float:left;
      .layers-selection {
        width: 122px;
      }
      button {
        width: 90px;
      }
    }

    a.hide-data-layers {
      margin-left: 3px;
      float: right;
    }
  }
  .zoom-group {
    clear:both;
    margin-left: 0;
    float: left;
  }
  .help {
    margin-left: 5px;
    float: right;
  }
  .logout {
    margin-left: 5px;
    float: right;
  }
}

#logo {
  position: absolute;
  background: image-url('unep_wcmc_logo.png');
  bottom: 22px;
  right: 5px;
  width: 100px;
  height: 51px;
}

.btn-warning .caret {
  border-top-color: white;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

#alert-message {
  position: absolute;
  top: 5px;
  left: 250px;
  right: 300px;

  .alert {
    margin: 0 auto;
    max-width: 350px;
  }
}

/* Scrollbars */

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.4);
}
