/*
 *= require bootstrap-generators
 */

/* (work-around) Bootstrap distorts some Google Maps Controls and Overlays: https://github.com/twitter/bootstrap/issues/1552 */
img {
  max-width: none;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.modal {
  form {
    margin: 0;
  }
}

#map_canvas {
  height: 100%
}

#main_menu {
  .zoom, .select-layer {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
  }

  .actions {
    position: absolute;
    top: 5px;
    right: 5px;

    & > * {
      float: right;
    }

    & > * + * {
      margin-right: 5px;
    }

    ul.dropdown-menu {
      right: 0;
      left: initial;
    }
  }
}

#map_menu {
  position: absolute;
  top: 5px;
  left: 20px;

  .btn-group {
    margin-bottom: 5px;
  }
  .btn-group + .btn-group {
    margin-left: 0
  }
}
