/*
 *= require jquery.fancybox
 *= require bootstrap-generators
 */

/* (work-around) Bootstrap distorts some Google Maps Controls and Overlays: https://github.com/twitter/bootstrap/issues/1552 */
img {
  max-width: none;
}

html, body {
  height: 100%;
}

.modal {
  .logos {
    img + img {
      margin-left: 6px;
    }
  }

  form {
    margin: 0;

    .message {
      margin-bottom: 20px;
    }

    .input-xxlarge {
      width: 520px;
    }

    .control-group.hidden {
      display:none;
    }
  }
}

#landingModal {
  display:none;
  overflow: hidden;
  background: #5c5d5e image-url('landing-bg.png') no-repeat;
  width: 798px;
  height: 260px;
  color: #ffcc00;
  margin-left: -420px;
  
  h3 {
    color: #ffcc00;  
  }
  
  p {
    font-size: 11px;
  }

  .modal-middle {
    float: left;
    margin-left: 169px;
    width: 330px;
    padding: 15px 25px;
  }
  
  .modal-right {
    background-image: image-url('unep-wcmc-logo.png');
    background-position: 186px 10px;
    background-repeat: no-repeat;
    float: right;
    width: 249px;
    padding-top: 105px;
    
    a {
      background: #9d8c45;
      font-size: 11px;
      float: left;
      width: 216px;
      margin-bottom: 6px;
      color: #ffcc00;
      padding: 2px;
      padding-left: 25px;
      position: relative;
      
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      
      &.search-site {
        span:before {
          content: '';
          background: #9d8c45 image-url('landing-sprite.png') no-repeat 0 0;
          width: 10px;
          height: 11px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      &.add-island {
        span:before {
          content: '';
          background: #9d8c45 image-url('landing-sprite.png') no-repeat 0 -12px;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      &.let-me-help {
        span:before {
          content: '';
          background: #9d8c45 image-url('landing-sprite.png') no-repeat 0 -23px;
          width: 10px;
          height: 12px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
    }
    
    .footer {
      color: #AAA;
      float: right;
      clear: both;
      margin-right: 15px;
      margin-top: 32px;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

#main-content {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;

  & > div {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  #map-content {
    left: 0;
    right: 0;
    margin-right: 270px;
    overflow:hidden;
  }

  #right-panel {
    width:270px;
    right: 0;
    height: 100%;

    background-color: #323232;
    color: #EEE;

    #search-results {
      display:none;
      position: absolute;
      right: 29px;
      z-index:1;
      background-color: white;
      width: 200px;
      padding: 5px;
      margin-left: 0;
      list-style-type: none;
    }

    #attributes-show {
      padding: 20px 10px 10px;
    }
  }
}

#header-strip {
  background-image: url('header-strip-bg.png');
  padding: 10px 15px;
  height: 120px;
  color: #F9D000;

  h2, h4 {
    color: #F9D000;
  }

  h2 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    position:relative;
    float:left;
    width: 145px;
  }
  > span {
    position:absolute;
    right: 0;
    opacity: 0.6;
    margin-right: 5px;
    width: 100px;
    font-weight:bold;
    line-height: 26px;
    font-size: 23px;
    overflow:hidden;

    span.up {
      position:relative;
      top: -6px;
      font-size: 12px;
      line-height: 12px;
    }
  }
  h4 {
    clear:both;
    font-size: 11px;
    line-height: 11px;
  }

}

#tabbed-panel {
  #tabs {
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    background-color: #666;

    li {
      padding: 10px 15px;
      float:left;
      width: 105px;
      color: #F5CD03;
      font-weight: bold;
      cursor:pointer;

      img {
        margin-right:10px;
      }
      span {
        position:relative;
        top:-6px;
      }
    }
    li.active {
      background-color: #323232;
      cursor:auto;
    }
  }

  #island-attributes {
    padding: 15px;
  }

  .field {
    overflow:hidden;
    margin-bottom: 4px;
    label {
      color: #F5CD03;
      float:left;
      width: 80px;
    }
    span, input {
      float:left;
      width: 150px;
      color: #FF6600;
    }
    input {
      border: 1px solid #535353;
      background-color: #4A4A4A;
    }
  }
  .field.full-width {
    input {
      width: 230px;
    }
  }
  .actions {
    float:right;
    input {
      padding: 8px 10px;
      border: 1px solid #493E2D;
      color: #FFCC33;
      background-color:#49442D;
    }
    input.primary {
      border: 1px solid #664D26;
      background-color: #665926;
    }
  }
  h4 {
    color: #FFCC00;
    margin-bottom: 10px;
  }
  select {
    width: 100%;
  }

  #reallocate-dialog, #edit-dialog {
    display:none;
  }
}

#right-main.disabled {
  h2, span, img, #island-attributes, .actions{
    opacity: 0.4;
  }
}

#stats {
  position:absolute;
  bottom: 65px;
  padding: 10px 13px;
  width: 244px;
  overflow:hidden;
  color: #FF6600;
  border-top: 1px solid #535353;

  span {
    float:left;
    h4 {
      font-size: 28px;
      color: #FF6600;
      font-weight: normal;
      margin-bottom: 8px;
    }
  }
  span.right {
    float:right;
  }
}

footer {
  position:absolute;
  bottom:0;
  padding: 10px 13px;
  width: 244px;
  background-color: #666;
  color: #CCC;
  font-size: 11px;
  height: 15px;

  img {
    float:right;
    position: relative;
    top: -6px;
  }
}

#map_canvas {
  width:100%;
  height:100%;
}

#geometry-edit {
  margin: 15px;

  #tools {
    overflow:hidden;
    padding: 10px;

    .validate {
      margin-right: 5px;
      float:left; 
    }

    div.btn-group {
      float:left;
    }

    .btn {
      width: 49px;
      font-size: 11px;
    }

    hr {
      clear:both;
      border: 0px;
      border-bottom: 1px solid #DDD;
      margin: 0 0 5px 0;
      padding-top: 5px;
    }
  }
}
#main_menu {
  .actions {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 7px;


    .submit-or-erase {
      margin-top: 5px;
      padding-top: 5px;
      padding-left: 0;
      border-top: 1px solid #DDD;
      overflow:hidden

      .btn {
        width: 70px;
      }
      
      select.knowledge {
        float: right;
        width: 250px;
      }
      
      .buttons {
        float: right;
        clear: both;
      }
    }
  }

  .validate, .edit-area {
    .caret {
      float: right;
    }
  }

  .validate {
  }

  .edit-area {
    width: 165px;
  }
}

#logo {
  position: absolute;
  background: image-url('unep_wcmc_logo.png');
  bottom: 22px;
  right: 5px;
  width: 100px;
  height: 51px;
}

#toggle-map-layers {
  position: absolute;
  top:0;
  right: 98px;
  margin: 5px;
  cursor: pointer;
  direction: ltr;

  overflow: hidden;
  text-align: left;
  font-family: Arial, sans-serif;
  text-decoration: none;
  -webkit-user-select: none;
  font-size: 13px;
  padding: 1px 6px;
  border: 1px solid #717B87;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  color: black;
  font-weight: bold;
  background: white;
}

#toggle-map-layers:hover {
  background: #F6F6F6;
}

.btn-warning .caret {
  border-top-color: white;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

#alert-message.alert {
  display:none;
  position:relative;
  top: -50px;
  float:left;
  margin: 0 auto;
  text-align: center;
}

/* Scrollbars */

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.4);
}
